.container {
  > label {
    position: relative;
    display: block;

    > input {
      width: 100%;
      height: 40px;
      font-size: 12px;
      padding: 16px 12px 12px 12px;
      background-color: #28262c;
      color: #ffffff;
      border: 1px solid #28262c;
      border-radius: 20px;

      &:focus {
        outline: 0;
        border-color: #f2bc3d;
      }
    }
  }
}
